.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: var(--mantine-spacing-md);
  gap: var(--mantine-spacing-sm);
  overflow: scroll;
}

.demoBtn {
  border-color: var(--mantine-color-neutral-2);
  color: var(--mantine-color-neutral-6);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  &:disabled,
  &[data-disabled] {
    border: 1px solid var(--mantine-color-neutral-2);
    color: var(--mantine-color-neutral-6);
    background-color: white;
  }
}

.demoText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--mantine-color-neutral-6);
  text-wrap: nowrap;
}
