.wrapper {
  align-self: flex-start;
  padding: var(--mantine-spacing-md);
  background-color: #ffffff;
  position: relative;
  max-width: 80%;
  border-radius: var(--mantine-radius-md);
}
.tail {
  left: -8px;
  position: absolute;
  top: 0;
  color: #ffffff;
}

.step {
  border: 1px solid #e3e3e3;
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
}
.viewSteps {
  border-top: 1px solid #e3e3e3;
  padding-bottom: 0;
  padding-top: var(--mantine-spacing-md);
}
.filename {
  margin-left: 0;
  padding-left: 0;
  text-decoration: underline;
  color: var(--mantine-color-neutral-6);
}